<div class="row">
    <div class="col-6 col-lg-3">
        <figure class="product-media">
            <span class="product-label label-out">Nuevo</span>
            <a routerLink="/products/{{product.id}}">
                <img [src]="product.image" alt="Product image" class="product-image">
            </a>
        </figure>
        <!-- End .product-media -->
    </div>
    <!-- End .col-sm-6 col-lg-3 -->

    <div class="col-6 col-lg-3 order-lg-last">
        <div class="product-list-action">
            <div class="product-price">
                <span class="out-price">{{product.price | currency:'USD'}}</span>
            </div>
            <!-- End .product-price -->
            <div class="ratings-container">
                <div class="ratings">
                    <div class="ratings-val" [ngStyle]="{'width': getRating(product.rating.rate)}"></div>
                    <!-- End .ratings-val -->
                </div>
                <!-- End .ratings -->
                <span class="ratings-text">( 6 Reviews )</span>
            </div>
            <!-- End .rating-container -->

            <div class="product-action">
                <a class="btn-product btn-quickview" title="Quick view"><span>Ver detalle</span></a>
                <!-- <a class="btn-product btn-compare" title="Compare"><span>compare</span></a> -->
            </div>
            <!-- End .product-action -->

            <a [class.disabled]="product.rating.count < 1" [class.btn-outline-danger]="product.rating.count < 1" (click)="addToCart(product.id)" class="btn-product btn-cart"><span>{{ product.rating.count < 1 ? "No en Stock": "Agregar al carrito"}}</span></a>
        </div>
        <!-- End .product-list-action -->
    </div>
    <!-- End .col-sm-6 col-lg-3 -->

    <div class="col-lg-6">
        <div class="product-body product-action-inner">
            <a class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
            <!-- <div class="product-cat">
                <a>Jackets</a>
            </div> -->
            <!-- End .product-cat -->
            <h3 class="product-title"><a routerLink="/products/{{product.id}}">{{product.title}}</a></h3>
            <!-- End .product-title -->

            <div class="product-content">
                <p>{{product.description}}</p>
            </div>
            <!-- End .product-content -->
        </div>
        <!-- End .product-body -->
    </div>
    <!-- End .col-lg-6 -->
</div>