/*  --- MAIN - COLORS ---- */

// $primary-color: #a6c76c;
// $primary-color-2: #92b25a;
$primary-color: #c96;
$primary-color-2: #c96;
$secondary-color: #c96;

/* --- OTHER - COLORS --- */

$color-product-label: #7dd2ea;
$color-new-price: #ef837b;
$color-orange: #bf8040;
$color-orange-3: #cc9966;
$color-orange-2: #c15454; // para el estilo de cabecera del index- 
$color-green: #1cc0a0; // para el estilo de cabecera del index-
$color-yellow: #fcb941; // para el estilo de cabecera del index-14
$color-required-field: #e02b27;

/*  --- COLORS - SOCIALS ---- */

$color-social-facebook: #8f79ed;
$color-social-twitter: #79c8ed;
$color-social-instagram: #dd6d9a;
$color-social-youtube: #e66262;
$color-social-linkedin: #3399cc;
$color-btn-g: #cc3333;
$color-btn-f: #3366cc;

/*  --- COLORS - LIGHTS ---- */

$color-white: #fff;
$color-light: #f8f8f8;
$color-light-1: #ebebeb;
$color-light-2: #f9f9f9;
$color-light-3: #e1e1e1;
$color-light-4: #d7d7d7;
$color-light-5: #fafafa;
$color-light-6: #f5f6f9;
$color-light-7: #ebf3de;
$color-light-8: #ccc;
$color-light-9: #f4f4f4;
$color-light-10: #efefef;
$color-light-11: #e5e5e5;
$color-light-12: #dadada;
$color-light-14: #f4e8dd;
$color-light-15: #f7f7f7;
$color-light-16: #eaeaea;
$color-light-17: #e9e9e9;
$color-light-18: #f7f8fa;
$color-light-19: #e1e2e6;
$color-light-20: #f5f5f5;
$color-light-21: #e4e4e4;
$color-light-22: #b8b8b8;
$color-light-23: #f6f6f6;
$color-light-24: #f1f1f1;
$color-light-25: #fdfdfd;
$color-gray: #f4f5f8;

/*  --- COLORS - DARKS ---- */

$color-dark-1: #8a8988;
$color-dark-2: #666666;
$color-dark-3: #333;
$color-dark-5: #959595;
$color-dark-6: #777;
$color-dark-7: #999;
$color-dark-9: #eeeeee;
$color-dark-10: #444444;
$color-dark-11: #222;
$color-dark-12: #525455;
$color-dark-13: #b5b5b5;
$color-dark-14: #8c8c8c;
$color-dark-15: #4b4b4b;
$color-dark-16: #706f6c;

/*  --- END - COLORS ---- */