.mt-84 {
    margin-top: 85px;
}

.content {
    height: 370px;
    overflow: auto;
    padding-right: 10px;
}

.header-intro-clearance .account li a {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #666666;
}