<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Tienda</span></h1>
        </div>
        <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
                <li class="breadcrumb-item"><a routerLink="/cart">Carrito</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div>
        <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="container">
        <div class="text-center my-5" *ngIf="cartData.total <= 0">
            <h4>Tu carro de compras está vacio</h4>
            <button class="btn btn-primary btn-lg mt-3" routerLink="/products">IR A LA TIENDA</button>
        </div>
    </div>

    <div class="page-content" *ngIf="cartTotal > 0">
        <div class="checkout">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Detalles de facturación</h2>
                            <!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Nombres *</label>
                                    <input type="text" class="form-control" required>
                                </div>
                                <!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Apellidos *</label>
                                    <input type="text" class="form-control" required>
                                </div>
                                <!-- End .col-sm-6 -->
                            </div>
                            <!-- End .row -->

                            <label>Dirección *</label>
                            <input type="text" class="form-control" placeholder="Nro. casa y nombres de calles" required>
                            <input type="text" class="form-control" placeholder="Referencia de dirección" required>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Email *</label>
                                    <input type="email" class="form-control" required>
                                </div>
                                <!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Teléfono *</label>
                                    <input type="tel" class="form-control" required>
                                </div>
                                <!-- End .col-sm-6 -->
                            </div>
                            <!-- End .row -->

                            <label>Notas de la órden (opcional)</label>
                            <textarea class="form-control" cols="30" rows="4" placeholder="Notas sobre tu orden ..."></textarea>
                        </div>
                        <!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Tu órden</h3>
                                <!-- End .summary-title -->
                                <table *ngIf="cartData.total != 0" class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Producto</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let c of cartData.data; let i = index">
                                            <td><a>{{c.numInCart}} x {{c.product.title}}</a></td>
                                            <td>{{ (c.product.price*c.numInCart) | currency: 'USD'}}</td>
                                        </tr>
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>{{ cartTotal | currency: 'USD'}}</td>
                                        </tr>
                                        <!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Envio:</td>
                                            <td>{{ 1.9996 | currency:'USD'}}</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>{{ cartTotal | currency: 'USD'}}</td>
                                        </tr>
                                        <!-- End .summary-total -->
                                    </tbody>
                                </table>
                                <!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <!-- <div class="card">
                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                                    Transferencia bancaria
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como referencia de pago. Su pedido no se enviará hasta que los fondos se hayan liquidado en su cuenta.
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                    Efectivo
                                                </a>
                                            </h2>
                                        </div>
                                        <!-- End .card-header -->
                                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                            <div class="card-body">Paga tu órden al momento de recibirla
                                            </div>
                                            <!-- End .card-body -->
                                        </div>
                                        <!-- End .collapse -->
                                    </div>
                                    <!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-5">
                                            <h2 class="card-title">
                                                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                    Qué es PagoPlux?
                                                    <img src="assets/images/payments-summary.png" alt="payments cards">
                                                </a>
                                            </h2>
                                        </div>
                                        <!-- End .card-header -->
                                        <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                            <div class="card-body"> Servicio de pagos web, solo debes registrar tu tarjeta de crédito.
                                            </div>
                                            <!-- End .card-body -->
                                        </div>
                                        <!-- End .collapse -->
                                    </div>
                                    <!-- End .card -->
                                </div>
                                <!-- End .accordion -->

                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block" (click)="onCheckOut()">
                                    <span class="btn-text">Realizar pedido</span>
                                    <span class="btn-hover-text">Proceder a Checkout</span>
                                </button>
                            </div>
                            <!-- End .summary -->
                        </aside>
                        <!-- End .col-lg-3 -->
                    </div>
                    <!-- End .row -->
                </form>
            </div>
            <!-- End .container -->
        </div>
        <!-- End .checkout -->
    </div>
    <!-- End .page-content -->
</main>
<!-- End .main -->