<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Carrito de compras<span>Tienda</span></h1>
        </div>
        <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/home">Inicio</a></li>
                <li class="breadcrumb-item"><a routerLink="/products">Tienda</a></li>
                <li class="breadcrumb-item active" aria-current="page">Carrito de compras</li>
            </ol>
        </div>
        <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->

    <div class="container">
        <div class="text-center my-5" *ngIf="cartData.data[0].numInCart == 0">
            <h4>Tu carro de compras está vacio</h4>
            <button class="btn btn-primary btn-lg mt-3" routerLink="/products">IR A LA TIENDA</button>
        </div>
    </div>

    <div class="page-content" *ngIf="cartData.data && cartData.data[0].numInCart != 0">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let c of cartData.data; let i = index">
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                                <a class="cursor-pointer" routerLink="/products/{{c.product.id}}">
                                                    <img [src]="c.product?.image" [alt]="c.product.title">
                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                <a class="cursor-pointer" routerLink="/products/{{c.product.id}}">{{c.product.title}}</a>
                                            </h3>
                                            <!-- End .product-title -->
                                        </div>
                                        <!-- End .product -->
                                    </td>
                                    <td class="price-col">{{ c.product.price | currency: 'USD'}}</td>

                                    <td class="quantity-col">

                                        <div class="cart-product-quantity">
                                            <ngx-number-spinner [value]="c.numInCart" (change)="change($event, i)" [min]="1" [max]="c.product.rating.count">
                                            </ngx-number-spinner>
                                        </div>

                                        <!-- End .cart-product-quantity -->
                                    </td>
                                    <td class="total-col">{{cartService.CalculateSubTotal(i) | currency:'USD'}}</td>
                                    <td class="remove-col"><button class="btn-remove" (click)="cartService.DeleteProductFromCart(i)"><i
                                                class="icon-close"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- End .table table-wishlist -->

                        <div class="cart-bottom">
                            <div class="cart-discount">
                                <form action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" required placeholder="código de cupon">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary-2" type="submit"><i
                                                    class="icon-long-arrow-right"></i></button>
                                        </div>
                                        <!-- .End .input-group-append -->
                                    </div>
                                    <!-- End .input-group -->
                                </form>
                            </div>
                            <!-- End .cart-discount -->
                        </div>
                        <!-- End .cart-bottom -->
                    </div>
                    <!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
                            <h3 class="summary-title">Cart Total</h3>
                            <!-- End .summary-title -->

                            <table class="table table-summary">
                                <tbody>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>{{ cartTotal | currency: 'USD'}}</td>
                                    </tr>
                                    <!-- End .summary-subtotal -->
                                    <tr class="summary-shipping">
                                        <td>Envío:</td>
                                        <td>&nbsp;</td>
                                    </tr>

                                    <!-- <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                                <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                            </div>
                                        </td>
                                        <td>$0.00</td>
                                    </tr> -->
                                    <!-- End .summary-shipping-row -->

                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
                                                <label class="custom-control-label" for="standart-shipping">Estándar:</label>
                                            </div>
                                            <!-- End .custom-control -->
                                        </td>
                                        <td>$10.00</td>
                                    </tr>
                                    <!-- End .summary-shipping-row -->

                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
                                                <label class="custom-control-label" for="express-shipping">Express:</label>
                                            </div>
                                            <!-- End .custom-control -->
                                        </td>
                                        <td>$20.00</td>
                                    </tr>
                                    <!-- End .summary-shipping-row -->

                                    <!-- <tr class="summary-shipping-estimate">
                                        <td>Estimate for Your Country<br> <a>Change address</a></td>
                                        <td>&nbsp;</td>
                                    </tr> -->
                                    <!-- End .summary-shipping-estimate -->

                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>{{ cartTotal | currency: 'USD'}}</td>
                                    </tr>
                                    <!-- End .summary-total -->
                                </tbody>
                            </table>
                            <!-- End .table table-summary -->

                            <a routerLink="../order" class="btn btn-outline-primary-2 btn-order btn-block">ORDENAR</a>
                        </div>
                        <!-- End .summary -->

                        <a routerLink="/products" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUAR COMPRANDO</span><i
                                class="icon-refresh"></i></a>
                    </aside>
                    <!-- End .col-lg-3 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .cart -->
    </div>
    <!-- End .page-content -->
</main>
<!-- End .main -->