<app-page-title header="All elements" subtitle="Elements"></app-page-title>
<!-- Elements list -->
<div class="container my-5">
	<div class="row elements">
		<ng-container *ngFor="let element of elements; trackBy: trackByElements">
			<div class="col-xl-5col col-lg-4 col-md-3 col-6">
				<a [routerLink]="element.link" class="element-type">
					<div class="element">
						<i class="element-img"></i>
						<i class="element-hover-img"></i>
						<p>{{ element.name }}</p>
					</div>
				</a>
			</div>
		</ng-container>
	</div>
</div>
<!-- End Elements list -->
