@import "../../../../assets/scss/colors.scss";

.nav.nav-pills .nav-link {
    color: $color-light-8;
}

.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus {
    color: $primary-color;
}

.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
    color: $color-dark-3;
}