<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container-fluid">
            <h1 class="page-title">Categorías de productos<span>Tienda</span></h1>
        </div>
        <!-- End .container-fluid -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav breadcrumb-with-filter">
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/categories">Inicio</a></li>
                <li class="breadcrumb-item active" aria-current="page">Categorías</li>
            </ol>
        </div>
        <!-- End .container-fluid -->
    </nav>
    <!-- End .breadcrumb-nav -->
    <div class="page-content">
        <div class="categories-page">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3" *ngFor="let category of categories">
                        <!-- category -->
                        <app-category-card [category]="category"></app-category-card>
                        <!-- End category -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>